@import "../../_palette";
.Card {
  width: 100%;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 8px;
  margin: 16px 0;
  background-color: white;
}