@import "../resolutions";

.Container {
  margin: auto;
  padding: 2rem;
}

.EditBottleForm {
  height: 100%;
  // width: 800px;
  background-color: white;
  z-index: 150;
  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.3s ease-out;
  transform: translateX(100%);
  padding: 128px;
}

.EditBottleFormOpen {
  transform: translateX(0);
}

.BottlesList {
  width: 80%;

  @media (max-width: 80rem) {
    width: 100%;
  }
}
