.Field {
  height: 100%;
  width: 100%;
}

.Title {
  font-size: 0.7rem;
  color: #9e9e9e;
  padding: 0;
  margin: 4px 0;
}

.Value {
  font-size: 0.9rem;
  color: black;
  padding: 0;
  margin: 4px 0;
}